main
    width: 100vw
    height: 100vh
    padding-top: 5rem
    display: grid
    grid-template-columns: 50% 50%

    form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center


    div
        display: flex
        justify-content: center
        align-items: center

